body {
    color: #333333;
    font-family: Arial, "Times New Roman", serif;
    padding: 15px;
}

h1 {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

a {
    text-decoration: none;
}

#contents > li {
    margin-bottom: 20px;
}

#charts > * {
    position: relative;
    padding: 10px 0;
}

.top {
    margin: 10px 0;
}

.me {
    color: gray;
}

footer {
    text-align: center;
}
