body {
    color: #333333;
    font-family: Arial, "Times New Roman", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

h1 {
    padding-left: 15%;
    padding-right: 15%;
}

label {
    display: block;
    margin: 5px;
}

@media (min-width: 640px) {
    label {
        display: inline;
    }
}

.chart {
    position: relative;
    align-self: stretch;
    margin: 15px 0;
}

@media (min-width: 640px) {
    .chart {
        align-self: center;
        width: 70%;
    }
}

.chart-container {
    position: relative;
    height: 50vh;
}

.nodata {
    font-weight: bold;
}

footer {
    font-size: 0.9em;
    align-self: flex-end;
}
