body {
    color: #333333;
    font-family: Arial, "Times New Roman", serif;
    padding: 15px;
}

h1 {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

#filter {
    text-align: center;
}

#chart > * {
    position: relative;
    padding: 10px 0;
}

.nodata {
    font-weight: bold;
    text-align: center;
}

.top {
    margin: 10px 0;
}

.me {
    color: gray;
}

footer {
    text-align: center;
}
